.-mobile {
  display: flex;

  @media (--medium-viewport) {
    display: none;
  }
}

.-desktop {
  display: none;

  @media (--medium-viewport) {
    display: flex;
  }
}

.hidden-small-viewport-up {
  @media (--medium-viewport) {
    display: none;
  }
}

.hidden-small-viewport-down {
  @media (--small-viewport) {
    display: none;
  }
}
