.c-chart-box {
  position: relative;
  margin: $margin-medium 0;
  padding: $margin-large;
  background-color: $color-base;
  box-shadow: 0 0 4px 0 rgba(81, 81, 83, 0.2);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-step-selector {
    max-width: 250px;
  }
}
