.leaflet-popup-content-wrapper {
  border-radius: 0;
}

.c-popup {
  font-family: $font-body;
  color: $font-grey;

  > .header {
    font-family: $font-heading;
    font-size: $font-size-small;
    color: $font-grey;
    display: flex;
    align-items: center;
  }
}
