.c-news-article {
  margin: $margin-large 0;

  > h3 {
    font-family: $font-body;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: $margin-small;

    > a {
      font-size: $font-size-medium;
      color: $font-main;
      text-decoration: none;
    }
  }

  > p {
    font-family: $font-body;
    font-size: $font-size;
    line-height: 1.9;
    color: $font-main;
  }
}
