.c-breadcrumbs {
  > a,
  > span {
    font-family: $font-body;
    font-size: $font-size-x-small;
    line-height: 1.6;
    color: $font-main;
    margin-bottom: $margin-medium;
    text-decoration: none;
  }

  &.-inv {
    > a,
    > span {
      color: $font-white;
    }
  }
}
