.c-call-to-action {
  padding: $margin-large 0;
  text-align: center;
  background-size: cover;
  background-color: $color-bg-main;

  > .row {
    min-height: 500px;
  }

  &.-about {
    background-image: url('/images/crosselings/about.jpg');
  }

  &.-new {
    background-image: url('/images/crosselings/news.jpg');
  }

  &.-partners {
    background-image: url('/images/crosselings/partners.jpg');
  }
}
