.c-sticky {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 2;

  &.sticky {
    background-color: $color-base;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  .c-react-select {
    margin-bottom: 0;
  }
}
