.c-txt-body {
  font-family: $font-body;
  font-size: $font-size;
  line-height: 1.9;
  color: $font-main;
  margin-top: $margin-medium;
  margin-bottom: $margin-extra-large;

  &.-large {
    font-size: $font-size-medium;
  }
}
