.c-txt-title {
  font-family: $font-heading;
  font-size: $font-size-extra-large;
  line-height: 1.6;
  color: $font-main;

  &.-secondary {
    font-family: $font-body;
    font-size: $font-size-large;
    color: $font-main;
  }
}
